<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/polymer-element.js">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-delete-outline.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-save-outline.html">

<dom-module id="create-user">
  <template>
    <style>
      :host {
        display: block
      }

      .div-center {
        text-align: center;
      }

      input[type=text],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border-radius: 4px;
        box-sizing: border-box;
      }

      div {
        border-radius: 5px;
        margin: auto;
        width: 60%;
      }

      .container {
        padding: 10px 16px;
        width: 80%;
      }

      .container::after,
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-top: initial;
      }

      .icon {
        fill: #6495ED;
        height: 44px;
        width: 44px;
      }

      .formIcons {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 6%;
      }

      .textContainer {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
      }

      .hasError {
        border: solid 2px red;
      }
    </style>
    <h1 class="div-center ">Onboarding App</h1>
    <div class="card">
      <div class="container">
        <h2 class="div-center text">Create New User</h2>
        <form>
          <label>First Name</label>
          <input type="text" id="firstName" hasError="validateInput" placeholder$="[[firstNamePlaceholder]]"
            value="{{user.firstName::input}}" class$="[[firstNameClass]]">

          <label>Last Name</label>
          <input type="text" id="lastName" hasError="validateInput" placeholder$="[[lastNamePlaceholder]]"
            value="{{user.lastName::input}}" class$="[[lastNameClass]]">

          <label>Phone</label>
          <input type="text" id="phone" hasError="validateInput" placeholder$="[[phonePlaceholder]]"
            value="{{user.phone::input}}" class$="[[phoneClass]]">

          <label>Email</label>
          <input type="text" id="email" hasError="validateInput" placeholder$="[[emailPlaceholder]]"
            value="{{user.email::input}}" class$="[[emailClass]]">
        </form>
        <div class="formIcons">
          <jha-icon-delete-outline on-click="deleteAllUsers" class="icon"></jha-icon-delete-outline>
          <jha-icon-save-outline on-click="createUser" class="icon"></jha-icon-save-outline>
        </div>
        <div class="textContainer">
          <h5>Delete All</h5>
          <h5>Create</h5>
        </div>
      </div>
    </div>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';

    // Routing Imports
    // import routeTree from '../routing/routes.js';
    // import Route_Paths from '../routing/paths.js';
    // import Route_Ids from '../routing/id.js';

    // const router = require('../../node_modules/@banno/web-component-router');
    // const Route_Mixin = require('../../node_modules/@banno/web-component-router/routing-mixin');
    // const pageJs = require('page');

    const RouteMixin = require('@banno/web-component-router/routing-mixin');
    //class MyElement extends RouteMixin(HTMLElement) { }

    // class CreateUser extends PolymerElement {
      class CreateUser extends RouteMixin(HTMLElement) {
      static get is() { return 'create-user'; }

      static get properties() {
        return {
          storage: Object,
          user: {
            type: Object,
            value() {
              return {
                firstName: '',
                lastName: '',
                phone: '',
                email: '',
                id: ''
              }
            }
          },
          hasError: {
            type: Boolean,
            value: false
          },
          firstNameError: {
            type: String,
            value: 'Must Enter A First Name!'
          },
          lastNameError: {
            type: String,
            value: 'Must Enter A Last Name!'
          },
          phoneError: {
            type: String,
            value: 'Invalid Phone Number Entered!'
          },
          emailError: {
            type: String,
            value: 'Invalid Email Address Entered!'
          },
          firstNameClass: {
            type: String,
            value: ''
          },
          firstNamePlaceholder: {
            type: String,
            value: 'Enter first name...'
          },
          lastNameClass: {
            type: String,
            value: ''
          },
          lastNamePlaceholder: {
            type: String,
            value: 'Enter last name...'
          },
          phoneClass: {
            type: String,
            value: ''
          },
          phonePlaceholder: {
            type: String,
            value: 'Enter phone number...'
          },
          emailClass: {
            type: String,
            value: ''
          },
          emailPlaceholder: {
            type: String,
            value: 'Enter email address...'
          }
        }
      }

      routeEnter(currentNode, nextNodeIfExists, routeId, context, next) {
        // make sure to set this to indicate the route was recognized.
        context.handled = true;
        // do something with the node
        const currentElement = currentNode.getValue().element;
        console.log('Current Element: ', currentElement);
        alert('routeEnter Hit!!!')
        // Always call next
        next();
      }

      /**
       * Implementation for the callback on exiting a route node.
       * This method is ONLY called if this element is not being
       * used by the next route destination.
       *
       * @param {!RouteTreeNode} currentNode
       * @param {!RouteTreeNode|undefined} nextNode - parent node
       * @param {string} routeId - unique name of the route
       * @param {!Context} context - page.js Context object
       * @param {function(boolean=)} next - used to continue to the next
       *     routing callback
       */
      routeExit(currentNode, nextNode, routeId, context, next) {
        const currentElement = currentNode.getValue().element;
        console.log('Current Element: ', currentElement);
        // remove the element from the dom
        if (currentElement.parentNode) {
          currentElement.parentNode.removeChild(/** @type {!Element} */(currentElement));
        }
        currentNode.getValue().element = undefined;

        // Always call next
        next();
      }

      getUsers() {
        this.dispatchEvent(new CustomEvent('updateUserList', { bubbles: true, composed: true }));
      }

      createUser() {
        this.validateInput();
        if (!this.hasError) {
          this.storage.createUser(this.user);
          this.user = {};
        }
        this.hasError = false;
        this.dispatchEvent(new CustomEvent('updateUserList', { bubbles: true, composed: true }));
      }

      deleteAllUsers() {
        this.storage.deleteAllUsers();
        this.dispatchEvent(new CustomEvent('updateUserList', { bubbles: true, composed: true }));
      }

      validateInput() {
        this.validateFirstName();
        this.validateLastName();
        this.validatePhone();
        this.validateEmail();
      }

      validateFirstName() {
        if (!this.user.firstName) {
          this.hasError = true;
          this.firstNameClass = 'hasError';
          this.firstNamePlaceholder = this.firstNameError;
        } else {
          this.firstNameClass = '';
        }
      }

      validateLastName() {
        if (!this.user.lastName) {
          this.hasError = true;
          this.lastNameClass = 'hasError';
          this.lastNamePlaceholder = this.lastNameError;
        } else {
          this.lastNameClass = '';
        }
      }

      validatePhone() {
        const phoneRegex = /^\d{10}$/;
        if (!this.user.phone || !this.user.phone.match(phoneRegex)) {
          this.hasError = true;
          this.phoneClass = 'hasError';
          this.phonePlaceholder = this.phoneError;
        } else {
          this.phoneClass = '';
        }
      }

      validateEmail() {
        if (!this.user.email.includes('@')) {
          this.hasError = true;
          this.emailClass = 'hasError';
          this.emailPlaceholder = this.emailError;
        } else {
          this.emailClass = '';
        }
      }
    }

    customElements.define(CreateUser.is, CreateUser);
    export default CreateUser;
  </script>
</dom-module>