<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">

<dom-module id="create-user">
  <template>
    <style>
     :host {
        display: block
      }

      .div-center {
        text-align: center;
      }

      input[type=text],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #87CEFA;
        border-radius: 4px;
        box-sizing: border-box;
      }

      div {
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
      }

      .border {
        border: #666 1px solid;
        width: 20%;
        margin: auto;
        margin-top: 25px;
        padding-bottom: 25px;
      }

      .button {
        background-color: #87CEFA;
        border: none;
        color: white;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        font-size: 16px;
        margin-top: 25px;
        border-radius: 8px;
      }

      button:hover {
        background-color: rgb(196, 226, 245);
      }
      
      .container {
        padding: 0 16px;
      }

      .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      }
    </style>

    <h1 class="div-center">Create User</h1>
    <div class="card">
      <div class="container">
        <div class="form-border">
          <form>
            <label for="fname">First Name</label>
            <input type="text" placeholder="Your name.." value="{{user.firstName::input}}">

            <label for="lname">Last Name</label>
            <input type="text" placeholder="Your last name.." value="{{user.lastName::input}}">

            <label for="phone">Phone</label>
            <input type="text" placeholder="Your phone number.." value="{{user.phone::input}}">

            <label for="email">Email</label>
            <input type="text" placeholder="Your email.." value="{{user.email::input}}">
          </form>
          <div>
            <button class="button" on-click="createUser">Create User</button>
          </div>
        </div>
      </div>
    </div>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { LocalStorage } from '../api/localStorage.js';

    const Storage = new LocalStorage();

    class CreateUser extends PolymerElement {
      static get is() { return 'create-user'; }

      static get properties() {
        return {
          user: {
            type: Object,
            value() {
              return {
                firstName: '',
                lastName: '',
                phone: '',
                email: '',
                id: ''
              }
            }
          }
        }
      }

      getUserIndex() {
        Storage.getUserIndex(this.user.id);
      }

      createUser() {
        Storage.createUser(this.user);
      }
    }
    customElements.define(CreateUser.is, CreateUser);
    export default CreateUser;
  </script>
</dom-module>