<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">

<dom-module id="edit-user">
  <template>
    <style>
      :host {
        display: block
      }

      .div-center {
        text-align: center;
      }

      input[type=text],
      select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #87CEFA;
        border-radius: 4px;
        box-sizing: border-box;
      }

      div {
        border-radius: 5px;
        margin: 25px auto 25px auto;
        width: 60%;
      }

      .border {
        border: #666 1px solid;
        width: 20%;
        margin: auto;
        margin-top: 25px;
        padding-bottom: 75px;
      }

      .button {
        background-color: #87CEFA;
        border: none;
        color: white;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        font-size: 16px;
        margin-top: 25px;
        border-radius: 8px;
      }

      button:hover {
        background-color: rgb(196, 226, 245);
      }

      /* Edit Form */
      .edit-div {
        border-radius: 5px;
        margin: 25px auto 25px auto;
        width: 60%;
      }

      .edit-container {
        padding: 10px 16px;
        width: 55%;
      }

      .edit-Card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding-top: initial;
      }

      .edit-container::after,
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .center {
        text-align: center;
        padding-top: 25px;
      }

      .width75 {
        width: 75%;
        margin: auto;
      }
    </style>

    <div class="edit-div edit-container edit-Card">
      <h1 class="center">Edit User</h1>
      <form class="width75">
        <label for="fname">First Name</label>
        <input type="text" placeholder="Your name.." value="{{user.firstName::input}}">

        <label for="lname">Last Name</label>
        <input type="text" placeholder="Your last name.." value="{{user.lastName::input}}">

        <label for="phone">Phone</label>
        <input type="text" placeholder="Your phone number.." value="{{user.phone::input}}">

        <label for="email">Email</label>
        <input type="text" placeholder="Your email.." value="{{user.email::input}}">
      </form>
      <div>
        <button class="button" on-click="updateUserList">Save</button>
      </div>
    </div>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';

    class CreateUser extends PolymerElement {
      static get is() { return 'edit-user'; }

      static get properties() {
        return {
          storage: Object
        }
      }

      updateUserList() {
        this.saveButtonClick();
        this.dispatchEvent(new CustomEvent('updateUserList',
          { bubbles: true,
            composed: true,
            detail: {
               data: { 
                updatedUsers: this.storage.getAllUsers()
              }
            }
          }));
      };

      userEdited() {
        this.dispatchEvent(new CustomEvent('userEdited', {
          bubbles: true,
          editButtonClicked: false
        }))
      }

      saveButtonClick() {        
        this.updateUser(); 
      }

      updateUser() {
        this.storage.updateUser(this.user.id, this.user);
      }
    }
    customElements.define(CreateUser.is, CreateUser);
    export default CreateUser;
  </script>
</dom-module>