<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="./user-profile.html">
<link rel="import" href="./user-list.html">
<link rel="import" href="./edit-user.html">
<link rel="import" href="./create-user.html">
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/6.4.0/firebase-app.js"></script>
<!-- Firebase Database Link -->
<script src="https://www.gstatic.com/firebasejs/5.0.1/firebase-database.js"></script>

<dom-module id="intern-app">
  <template>
    <style>
      header {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: row;
      }

      h1 {
        font-weight: normal;
      }

      p {
        font-weight: lighter;
        display: inline-block;
      }

      span {
        font-family: monospace;
        font-size: 15px;
      }
    </style>
    <header>
      <create-user storage="[[storage]]"></create-user>
      <user-list users="[[users]]" storage="[[storage]]"></user-list>
    </header>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { FirebaseAPI } from '../api/firebaseAPI.js';
    import * as firebase from "firebase/app";
    import "firebase/database";

    const storage = new FirebaseAPI();

    // Firebase configuration
    var firebaseConfig = {
      apiKey: "",
      authDomain: "onboarding-project-d1154.firebaseapp.com",
      databaseURL: "https://onboarding-project-d1154.firebaseio.com",
      projectId: "onboarding-project-d1154",
      storageBucket: "",
      messagingSenderId: "461134238683",
      appId: "1:461134238683:web:629a864bdaf08301"
    };

    // Initialize Firebase    
    firebase.initializeApp(firebaseConfig);
    
    class InternApp extends PolymerElement {
      static get is() { return 'intern-app'; }
      
      static get properties() {
        return {
          storage: {
            value: () => storage
          },
          users: {
            value: () => storage.getAllUsers()
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('updateUserList', this.updateUserList);
      }

      updateUserList() {
        this.users = this.storage.getAllUsers();      
      }
    }
    
    customElements.define(InternApp.is, InternApp);
    export default InternApp;
  </script>
</dom-module>