<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="./user-profile.html">
<link rel="import" href="./user-list.html">
<link rel="import" href="./edit-user.html">
<link rel="import" href="./create-user.html">

<dom-module id="intern-app">
  <template>
    <style>
      header {
        width: 100%;
        padding: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      h1 {
        font-weight: normal;
      }

      p {
        font-weight: lighter;
        display: inline-block;
      }

      span {
        font-family: monospace;
        font-size: 15px;
      }
    </style>
    <header>
      <create-user storage="[[storage]]"></create-user>
      <user-list users="[[users]]" storage="[[storage]]"></user-list>
    </header>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { LocalStorage } from '../api/localStorage.js';

    const storage = new LocalStorage();
    
    class InternApp extends PolymerElement {
      static get is() { return 'intern-app'; }
      
      static get properties() {
        return {
          storage: {
            value: () => storage
          },
          users: {
            value: () => []
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.users = this.storage.getAllUsers();
      }

      ready() {
        super.ready();
        this.addEventListener('updateUserList', this.updateUserList);
      }
      
      updateUserList(e) {
        this.users = this.storage.getAllUsers();
      }
    }
    customElements.define(InternApp.is, InternApp);
    export default InternApp;
  </script>
</dom-module>