<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/lib/elements/dom-if.js">


<dom-module id="user-profile">
  <template>
    <style>

      .div-center {
        text-align: center;
      }

      .center {
        text-align: center;
      }

      form {
        border: 1 px black solid;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        margin: auto;
      }

      /* Clean up some of this, some values may be unused? */
      .button {
        background-color: #87CEFA;
        border: none;
        color: white;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
        border-radius: 8px;
      }

      button:hover {
        background-color: rgb(196, 226, 245);
      }

      table.center {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      .container {
        padding: 0 16px;
        display: flex;
      }

      .container::after,
      .row::after {
        content: "";
        clear: both;
        display: table;
      }

      .card {
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
      }

      
    </style>
    <button class="button" on-click="expandCollapseCard">[[buttonText]]</button>
    <div class="div-center" id="userProfileCard">
      <div class="card">
        <h3 class="div-center">User Profile</h3>
       
          <table class="container center" id="test">
            <tr>
              <td>User Id:</td>
              <td>[[user.id]]</td>
            </tr>
            <tr>
              <td>Name:</td>
              <td>[[user.firstName]] [[user.lastName]]</td>
            </tr>

            <template is="dom-if" if="[[profileExpanded]]">
              <tr>
                <td>Phone:</td>
                <td>[[user.phone]]</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>[[user.email]]</td>
              </tr>
              <button class="button" on-click="updateUser">Edit</button>
              <button class="button" on-click="deleteUser">Delete</button>
              <button class="button" on-click="expandCollapseCard">Collapse</button> 
            </template>

          </table>
        
      </div>
    </div>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { LocalStorage } from '../api/localStorage.js';

    const Storage = new LocalStorage();

    class UserProfile extends PolymerElement {
      static get is() { return 'user-profile'; }

      static get properties() {
        return {
          user: { 
            type: Object
          }, 
          profileExpanded: {
            type: Boolean,
            value: false
          },
          buttonText: {
            type: String,
            value: 'Expand'
          }
        }
      } 

      expandCollapseCard() {
        this.profileExpanded ? this.profileExpanded = false : this.profileExpanded = true;
        this.buttonText === 'Expand' ? this.buttonText = 'Collapse' : this.buttonText = 'Expand';
      }

      updateUser() {
        Storage.updateUser(); // Need to pass in correct params
      }

      deleteUser() {
        console.log(this.user);
        Storage.deleteUser(this.user.userId);
      }
    }
    customElements.define(UserProfile.is, UserProfile);
    export default UserProfile;
  </script>

</dom-module>