<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/lib/elements/dom-repeat.js">
<link rel="import" href="./user-profile.html">

<dom-module id="user-list">
  <style>
    /* Add Styles , not taking so far???*/
    .centered {
      text-align: center;
    }

    .button {
      background-color: #87CEFA;
      border: none;
      color: white;
      padding: 5px 12px;
      text-align: center;
      text-decoration: none;
      display: block;
      margin: auto;
      font-size: 16px;
      margin-top: 25px;
    }

    button:hover {
      background-color: rgb(196, 226, 245);
    }
  </style>

  <template>
    <div class="centered">
      <h2 class="centered">User List:</h2>
    </div>
    <template is="dom-repeat" items="[[users]]" as="user">
      <div>
        <user-profile id="[[user.id]]" firstname="[[user.firstName]]" lastname="[[user.lastName]]"
          phone="[[user.phone]]" email="[[user.email]]">
        </user-profile>
      </div>
    </template>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { LocalStorage } from '../api/localStorage.js';

    const Storage = new LocalStorage();

    class UserList extends PolymerElement {
      static get is() { return 'user-list'; }

      static get properties() {
        return {
          users: {
            value: () => Storage.getAllUsers()
          }
        };
      }

      getUsers() {
        Storage.getAllUsers();
      }
    }
    customElements.define(UserList.is, UserList);
    export default UserList;
  </script>
</dom-module>