<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/lib/elements/dom-repeat.js">
<link rel="import" href="./user-profile.html">

<dom-module id="user-list">
  <style>
    
  </style>
  <template>
    <h2>User List:</h2>
    <template is="dom-repeat" items="[[users]]" as="user">
      <div>
        <user-profile 
          id="[[user.id]]"
          firstname="[[user.firstName]]"
          lastname="[[user.lastName]]"
          phone="[[user.phone]]"
          email="[[user.email]]">
        </user-profile>
      </div>
    </template>
  </template>
  <button on-click="getUsers">Test getAllUsers()</button>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { LocalStorage } from '../api/localStorage.js';

    const Storage = new LocalStorage();

    class UserList extends PolymerElement {
      static get is() { return 'user-list'; }

      static get properties() {
        return {
          users: {
            value: () => Storage.getAllUsers()
          }
        };
      }

      getUsers() {
        Storage.getAllUsers();
        console.log('this.users', this.users);
      }

    }
    customElements.define(UserList.is, UserList);
    export default UserList;
  </script>
</dom-module>