<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/lib/elements/dom-if.js">
<link rel="import" href="./edit-user.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-circle-minus-outline.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-circle-plus-outline.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-edit-outline.html">
<link rel="import" href="../../node_modules/@banno/jha-design-components/icons/jha-icon-delete-outline.html">


<dom-module id="user-profile">
  <template>
    <style>
      .div-center {
        text-align: center;
      }

      td {
        padding: 12px;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }

      .container {
        padding: 0 16px 8px 16px;
        display: inline-flex;
      }

      .card {
        padding: 5px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 20px;
        margin-bottom: 25px;
        margin-top: 50px;
      }

      .profileIcons {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-end;
      }

      .formActionIcons {
        width: 100%;
        display: inline-flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 6%;
      }

      jha-icon-circle-plus-outline,
      jha-icon-circle-minus-outline,
      jha-icon-edit-outline,
      jha-icon-delete-outline {
        fill: #6495ED;
      }
    </style>

    <template is="dom-if" if="[[!editButtonClicked]]">
      <div class="div-center" id="userProfileCard">
        <div class="card">
          <template is="dom-if" if="[[!profileExpanded]]">
            <div class="profileIcons">
              <jha-icon-circle-plus-outline on-click="expandCollapseCard"></jha-icon-circle-plus-outline>
            </div>
          </template>
          <template is="dom-if" if="[[profileExpanded]]">
            <div class="profileIcons">
              <jha-icon-circle-minus-outline on-click="expandCollapseCard"></jha-icon-circle-minus-outline>
            </div>
          </template>
          <h3 class="div-center" style="margin: initial;padding-bottom: inherit;">User Profile</h3>
          <table class="container" id="test">
            <tr>
              <td>Name:</td>
              <td>[[user.firstName]] [[user.lastName]]</td>
            </tr>

            <template is="dom-if" if="[[profileExpanded]]">
              <tr>
                <td>Phone:</td>
                <td>[[user.phone]]</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>[[user.email]]</td>
              </tr>
              <div class="formActionIcons">
                <jha-icon-edit-outline on-click="editButtonClick"></jha-icon-edit-outline>
                <jha-icon-delete-outline on-click="deleteUser"></jha-icon-delete-outline>
              </div>
            </template>
          </table>
        </div>
      </div>
    </template>

    <template is="dom-if" if="[[editButtonClicked]]">
      <edit-user storage="[[storage]]" user="[[user]]"></edit-user>
    </template>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import bindPropertiesFromParentRouteMixin from '../../src/routing/bindPropertiesFromParentRouteMixin.js';
    const RouteMixin = require('@banno/web-component-router/routing-mixin');

    class UserProfile extends bindPropertiesFromParentRouteMixin(RouteMixin(PolymerElement)) {
      static get is() { return 'user-profile'; }

      static get properties() {
        return {
          storage: {
            type: Object
          },
          user: {
            type: Object
          },
          profileExpanded: {
            type: Boolean,
            value: false
          },
          buttonText: {
            type: String,
            value: 'Expand'
          },
          editButtonClicked: {
            type: Boolean,
            value: false
          }
        }
      }

      connectedCallback() {
        super.connectedCallback();
        this.addEventListener('updateUserList', this.editButtonClick);
      }

      expandCollapseCard() {
        this.profileExpanded ? this.profileExpanded = false :
          this.profileExpanded = true;
        this.buttonText === 'Expand' ? this.buttonText = 'Collapse' :
          this.buttonText = 'Expand';
      }

      editButtonClick() {
        this.editButtonClicked = !this.editButtonClicked;
      }

      updateUser() {
        this.storage.updateUser(this.user.id, this.user);
      }

      updateUserList() {
        this.dispatchEvent(new CustomEvent('updateUserList', { bubbles: true, composed: true }));
      }

      deleteUser() {
        this.storage.deleteUser(this.user.id);
        this.updateUserList();
      }
    }
    customElements.define(UserProfile.is, UserProfile);
    export default UserProfile;
  </script>

</dom-module>