<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/lib/elements/dom-repeat.js">
<link rel="import" href="./user-profile.html">

<dom-module id="user-list">
  <style>
  </style>
  <template>
    <h2> User list: </h2>
    <dom-repeat items="{{users}}">
      <template>
        <div class="border">
          <user-profile 
            id="{{item.id}}" 
            first="{{item.first}}" 
            last="{{item.last}}" 
            phone="{{item.phone}}"
            email="{{item.email}}">
          </user-profile>
        </div>
      </template>
    </dom-repeat>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';
    import { LocalStorage } from '../api/localStorage.js';

    const LocalUsers = new LocalStorage();

    class UserList extends PolymerElement {
      static get is() { return 'user-list'; }
      static get properties() {
        return {
          users: {
            value() {
              return [
                { id: LocalUsers.generateId(), first: 'Bob', last: 'Smith', phone: '111-111-1111', email: 'test@test.com' },
                { id: LocalUsers.generateId(), first: 'Sally', last: 'Johnson', phone: '111-111-1111', email: 'test@test.com' }
              ];
            }
          }
        };
      }
    }
    customElements.define(UserList.is, UserList);
    export default UserList;
  </script>
</dom-module>