<link rel="import" href="../../node_modules/@banno/polymer/polymer.js">
<link rel="import" href="../../node_modules/@banno/polymer/lib/elements/dom-if.js">


<dom-module id="user-profile">
  <template>
    <style>
      .debugBorder {
        border: #666 1px solid;
      }

      .div-center {
        text-align: center;
      }

      .border {
        border: #666 1px solid;
        width: 20%;
        margin: auto;
        margin-top: 25px;
        padding-bottom: 25px;
      }

      form {
        border: 1 px black solid;
        border-radius: 5px;
        background-color: #f2f2f2;
        padding: 20px;
        width: 50%;
        margin: auto;
      }

      .button {
        background-color: #87CEFA;
        border: none;
        color: white;
        padding: 5px 12px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin: auto;
        font-size: 16px;
        margin-top: 20px;
        margin-bottom: 20px;
      }

      button:hover {
        background-color: rgb(196, 226, 245);
      }

      table.center {
        margin-top: 20px;
        margin-right: auto;
        margin-left: auto;
      }

      th,
      td {
        text-align: left;
        padding: 16px;
      }

      tr:nth-child(odd) {
        background-color: #f2f2f2;
      }
    </style>
    <button class="button" on-click="expandCollapseCard">[[buttonText]]</button>
    <div class="form" id="userProfileCard">
      <div>
        <div class="div-center">
          <h3 class="div-center">User Profile</h3>
          <table class="center" id="test">
            <tr>
              <td>User Id:</td>
              <td>[[id]]</td>
            </tr>
            <tr>
              <td>Name:</td>
              <td>[[firstname]] [[lastname]]</td>
            </tr>

            <template is="dom-if" if="[[profileExpanded]]">
              <tr>
                <td>Phone:</td>
                <td>[[phone]]</td>
              </tr>
              <tr>
                <td>Email:</td>
                <td>[[email]]</td>
              </tr>
            </template>

          </table>
        </div>
      </div>
    </div>
  </template>

  <script type="module">
    import { Element as PolymerElement } from '@banno/polymer/polymer-element.js';

    class UserProfile extends PolymerElement {
      static get is() { return 'user-profile'; }

      static get properties() {
        return {
          profileExpanded: {
            type: Boolean,
            value: false
          },
          buttonText: {
            type: String,
            value: 'Expand'
          }
        }
      } 

      expandCollapseCard() {
        this.profileExpanded ? this.profileExpanded = false : this.profileExpanded = true;
        this.buttonText === 'Expand' ? this.buttonText = 'Collapse' : this.buttonText = 'Expand';
      }
    }
    customElements.define(UserProfile.is, UserProfile);
    export default UserProfile;
  </script>

</dom-module>